<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
<body>
<section>
    <h1>Books:</h1>
    <table class="books">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Author</th>
            <!--            <th>Action</th>-->
        </tr>
        </thead>
        <tbody>
        <!--        <tr>-->
        <tr th:switch="${#lists.size(books)}">
            <td th:case="'0'">-</td>
            <td th:case="'0'">-</td>
            <td th:case="'0'">-</td>
            <td th:case="'0'">-</td>
            <td th:case="'0'">
                <a href="edit.html" th:href="@{/create}">Create</a>
            </td>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">The Girl with the Dragon Tattoo</td>
            <td th:text="${book.genre.name}">crime</td>
            <td th:text="${book.author.name}">Stieg Larsson</td>
            <td>
                <div class="actions">
                    <a href="edit.html" th:href="@{/edit(id=${book.id})}">Edit</a>
                    <a href="edit.html" th:href="@{/edit(id=${book.id})}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
