<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book edition</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">
</head>
<body>
<div class="error-body">
    <img th:src="@{/static/images/error.jpg}" style="width: 300px;">
    <br/>
    <h1>Упс.... что-то пошло не так</h1>
    <br/>
    <a href="list.html" th:href="@{/login}">
        <button type="button">БЫСТРЕЕ НАЗАД</button>
    </a>
</div>

</body>
</html>